ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}


/* 레이아웃 공통클래스 */
.a {
    text-decoration: none;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.outer{
    max-width: 1780px;
    margin: 0 auto;
}
.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.d-flex {
    display: flex;
}

.i-flex {
    display: inline-flex;
}

.f-d {
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.jcb {
    justify-content: space-between;
}

.jce {
    justify-content: flex-end;
}

.aic {
    align-items: center;
}

.aie {
    align-items: flex-end;
}

.ais {
    align-items: flex-start;
}

.p170 {
    padding: 170px 0;
}


/* 폰트 공통클래스 */
.pc_menu_L{
    font-family: 'MaruBuriBold';
    font-style: normal;
    font-display: swap;
    font-size: var(--pc--main--menu_-l);
    letter-spacing: -0.6px;
}

.pc_menu_M{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: var(--pc--main--menu_m);
    letter-spacing: -0.36px;
}

.pc_f_menu01{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    font-size: var(--pc--main--f_menu01);
    letter-spacing: -0.54px;
}

.pc_f_menu02{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    font-size: var(--pc--main--f_menu01);
    letter-spacing: -0.54px;
}

.pc_button_t01{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    font-size: var(--pc--main--button-text01);
    letter-spacing: -0.48px;
}

.pc_button_t02{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: var(--pc--main--button-text02);
    letter-spacing: -0.48px;

}

.pc_button_t03{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: var(--pc--main--button-text03);
    letter-spacing: -0.36px;
}

.pc_title01{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    font-size: var(--pc--main--title01);
    letter-spacing: -1.38px;
}

.pc_title01_2line{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    font-size: var(--pc--main--title01-2line);
    letter-spacing: -1.38px;
    line-height: 58px; /* 126.087% */
}

.pc_title02{
    font-family: 'MaruBuri';
    font-style: normal;
    font-display: swap;
    font-size: var(--pc--main--title02);
    letter-spacing: -1.02px;
}

.pc_text01{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    font-size: var(--pc--main--text01-2line);
    letter-spacing: -0.48px;
    line-height: 22px; /* 137.5% */
}

.pc_sub_text{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    font-size: var(--pc--main--sub-text);
    letter-spacing: -0.32px;
}

.pc_sub_title01{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    font-size: var(--pc--main--sub-title01);
    letter-spacing: -0.66px;
}

.pc_sub_title01_2line{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500; 
    font-size: var(--pc--main--sub-title01-2line);
    letter-spacing: -0.66px;
    line-height: 32px; /* 136.364% */
}

.pc_sub_title02{
    font-family: "maruBuri";
    font-style: normal;
    font-display: swap;
    font-size: var(--pc--main--sub-title02);
    letter-spacing: -0.6px;
}

.pc_sub_title_h{
    font-family: "maruBuri";
    font-style: normal;
    font-display: swap;
    font-size: var(--pc--main--sub-title-hover);
    letter-spacing: -0.6px;
}

.pc_date_t01{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    font-size: var(--pc--main--date-text01);
    letter-spacing: -0.66px;
}
.pc_date_t02{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    font-size: var(--pc--main--date-text02);
    letter-spacing: -0.48px;
    text-decoration-line: line-through;
}

.pc_date_t03{
    font-family: "Wanted Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    font-size: var(--pc--main--date-text03);
    letter-spacing: -0.42px;
}