
#hd{
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    
        
        .gnb{
            height: 120px;
            ul{
                gap: 70px;
                li{
                    a{
                        color: var(--main, #CDA580);
                        text-decoration: none;
                    }
                }
            }
        }
        .util{
            ul{
                gap: 30px;
            }
        }
    }

#visual{
    .swiper-slide{
        background-size: cover;
        height: 100vh;
        &.slide1{
            background-image: url(/images/img/main_visual01.jpg);
        }
        &.slide2{
            background-image: url(/images/img/main_visual02.jpg);
        }
        &.slide3{
            background-image: url(/images/img/main_visual03.jpg);
        }
        &.slide4{
            background-image: url(/images/img/main_visual04.jpg);
        }
        p{
            color: var(--sub---light--gray, #f5f5f5);
        }
        h1{
            color: var(--sub---light--gray, #f5f5f5);
            span{
                color: var(--main, #CDA580);
                
            }
        }
        .inner{
            gap: 70px;
            p{
                padding-bottom: 30px;
            }
            .btn{
                z-index: 10000;
            }
        }
    }
}   

#c01{
    .box1{
        gap: 50px;
    }
}

#c02{
    .box1{
        height: 600px;
            .left{
                gap: 20px;
                background-image: url(/images/img/c02_01.jpg);
                .pc_menu_M{
                    color: var(--main, #CDA580);
                }
                .pc_title02{
                    color: var(--sub---raisin-black, #232326);
                }
                .pc_text01_2line{
                    color: var(--sub---raisin-black, #232326);
                }
            }
            .right{
                gap: 20px;
                background-image: url(/images/img/c02_02.jpg);
                .pc_menu_M{
                    color: var(--main, #CDA580);
                }
                .pc_title02{
                    color: var(--sub---light--gray, #f5f5f5);
                }
                .pc_text01_2line{
                    color: var(--sub---light--gray, #f5f5f5);
                }
            }
        }
    }

#c03{
    .box1{
        position: relative;
        .box1-1{
            gap: 10px;
        .pc_menu_M{
            color: var(--main, #CDA580);
        }
        .pc_title02{
            color: var(--sub---raisin-black, #232326);
        }
    }
        .btn4{
            position: absolute;
            right: 0;
            bottom: 0;
            border: none;
            background-color: transparent;
            color: var(--sub-Raisin-Black, #232326);   
            &:hover{
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: 8%; /* 1.44px */
                text-underline-offset: auto;
                text-underline-position: from-font;
            }        
        }
    }
    .swiper-slide{
        gap: 20px;
        padding-top: 70px;
        .pc_sub_text{
            color: var(--Light-Text, #838383);
        }
        .pc_sub_title02{
            color: var(--sub---raisin-black, #232326);
            text-decoration: none;
            &:hover{
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: auto;
            }
        }
        .pc_date_t01{
            color: var(--main, #CDA580);
        }
        .box2{
            gap:15px;
        }
    }
}

