#hd {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  height: 120px;
}
#hd .gnb ul {
  gap: 70px;
}
#hd .gnb ul li a {
  color: var(--main, #CDA580);
  text-decoration: none;
}
#hd .util ul {
  gap: 30px;
}

#visual .swiper-slide {
  background-size: cover;
  height: 100vh;
}
#visual .swiper-slide.slide1 {
  background-image: url(/images/img/main_visual01.jpg);
}
#visual .swiper-slide.slide2 {
  background-image: url(/images/img/main_visual02.jpg);
}
#visual .swiper-slide.slide3 {
  background-image: url(/images/img/main_visual03.jpg);
}
#visual .swiper-slide.slide4 {
  background-image: url(/images/img/main_visual04.jpg);
}
#visual .swiper-slide p {
  color: var(--sub---light--gray, #f5f5f5);
}